html,
body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: grid;
  grid-template-columns: 18% 62% 20%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Weather css */

body {
  background-image: url("/src/component/img/weather-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100vh;
}

/* main-container */
.main-container {
  display: grid;
}

/* container */
.container {
  display: grid;
  margin: auto;
  /* border: 2px solid black; */
  border-radius: 10px;
  height: 90%;
  width: 90%;
  grid-template:
    "overview" 70%
    "display";
}

/* overview */
.overview {
  display: grid;
  /* border: 2px solid white; */
  grid-template:
    "header" 10%
    "current-weather" 2fr
    "details" 2fr;
}

/* header */
.header {
  display: grid;
  /* border: 2px solid blue; */
  grid-template: 1fr / [setting] 1fr [name] 3fr [search] 1fr;
}

/* header component */
.setting {
}

/* .setting component */
.modal-btn {
  display: block;
}
.modal-btn:hover {
  display: block;
}

.option {
  background-color: white;
  color: black;
  border: 2px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30px;
  top: 45px;
  list-style: none;
  padding-left: 0px;
  height: 70px;
  width: 111px;
  padding-top: 29px;
  text-align: center;
  display: none;
}

.option a {
  text-decoration: none;
}

.option a:hover {
  color: orange;
}

.large-icon {
  height: 26px;
  margin: 10px 10px;
}

.name {
  text-align: center;
  margin: 10px 10px;
}

.search {
  display: flex;
  flex-direction: row-reverse;
}

/* current-weather  */
.current-weather {
  display: grid;
  grid-template:
    "text" 12%
    "information";
}

/* current-weather component */
.text {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 2px;
  /* border: 2px solid red; */
}

.information {
  display: grid;
  grid-template: 1fr / [icon] 50% [temp] 50%;
  /* border: 2px solid green; */
  margin-top: 0px;
}

/* .information component */
.icon {
  display: flex;
  justify-content: center;
  /* border: 2px solid white; */
}

.react-icon {
  margin: auto;
  height: 100px;
  width: 100px;
}

.temp {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: auto;
  color: #282c34;
  /* border: 2px solid blue; */
}

/* details */
.details {
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  grid-template-columns: repeat(2, 2fr);
  /* border: 2px solid greenyellow; */
  grid-template-areas:
    "i1 i2"
    "i3 i4";
}

/* deatils component */
.i {
  display: grid;
  grid-template-columns: 50% 50%;
  background-position-y: center;
  font-size: 25px;
}

.i p {
  margin-left: 60px;
}

#i1 {
  background-image: url("../icons/humidity.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#i2 {
  background-image: url("../icons/barometer.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#i3 {
  background-image: url("../icons/fresh-air.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#i4 {
  background-image: url("../icons/view.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

/* display */
.display {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(4, 2fr);
  height: 150px;
}

/* display component */
.display-segment {
  display: grid;
  color: rgb(249, 247, 247);
  margin-top: 30px;
}

.display-segment p {
  text-align: center;
  font-size: 1.5rem;
}

.display-icon {
  margin: 11px 11px;
  display: flex;
  justify-content: center;
}

.segment-temp {
  color: #f5f6f7;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .main-container {
    height: 100vh;
  }

  .container {
    margin-top: 0px;
  }
  
  .overview {
    grid-template:
      "header" 15%
      "current-weather" 2fr
      "details" 2fr;
  }

  .large-icon {
    height: 65px;
  }

  .name {
    font-size: 30px;
    margin: 24px 10px;
  }

  .current-weather {
    grid-template:
      "text" 20%
      "information";
  }

  .text {
    font-size: 30px;
    margin-top: 10px;
  }

  .react-icon {
    height: 140px;
  }

  .temp {
    font-size: 85px;
  }

  .details {
    height: 280px;
  }

  .i p {
    margin-left: 105px;
    margin-top: 55px;
    font-size: 40px;
  }

  #i1,
  #i2,
  #i3,
  #i4 {
    background-size: 82px 77px;
  }

  .display {
    height: 285px;
    margin-top: 131px;
  }

  .display-segment p {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
  }

  .display-icon {
    height: 70px;
  }

  .segment-temp {
    text-align: center;
    margin-top: 8px;
    font-size: 40px;
  }
}

@media (min-width: 1024px) and (min-height: 600px) {
  .container {
    height: 600px;
  }

  .overview {
    grid-template:
      "header" 20%
      "current-weather" 2fr
      "details" 2fr;
  }

  .large-icon {
    height: 57px;
  }

  .name {
    font-size: 40px;
  }

  .current-weather {
    grid-template:
      "text" 20%
      "information";
  }

  .text {
    font-size: 30px;
  }

  .i p {
    grid-column: 2;
    margin-left: -73px;
    font-size: 40px;
  }

  #i1,
  #i2,
  #i3,
  #i4 {
    margin-left: 120px;
  }

  .display-segment p {
    height: 13px;
    text-align: center;
    font-size: 2rem;
  }

  .segment-temp {
    font-size: 27px;
  }
}

/* https://in.pinterest.com/pin/652881277248848154/ */
